@{
    ViewBag.Title = "О программном комплексе";
}
<h2>@ViewBag.Title.</h2>


<p>Этот програмный комплекс предназначен для учета, контроля и отправки результатов лабораторных исследований и возможно в будущем будет расширен бухгалтерско-аналитическим модулем.</p>

<div class="text-left">
    <img src="~/Content/img/About.JPG" alt="Sample Image" width="300px" />
</div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

