@{
    ViewBag.Title = "Наши Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Харьков<br />
    ул.Сумская №1<br />
    <abbr title="Телефон"></abbr>
    +38(0ХХ)ХХ-ХХХ-ХХ
</address>

<address>
    <strong>Отдел продаж:</strong>   <a href="mailto:market@labtest.com">market@labtest.com</a><br />
    <strong>Поддержка:</strong>   <a href="mailto:admin@labtest.com">admin@labtest.com</a><br />
</address>

<div class="text-left">
    <img src="~/Content/img/Map.JPG" alt="Sample Image" width="500px" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
