
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetArticle</title>
</head>
<body>
<div>
    <h2>
        Запись найдена. Все ок. Код ответа 200.
    </h2>
</div>
</body>
</html>
